* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

#root {
  display: flex;
}

.loading {
  display: block;
  text-align: center;
  margin: 40px auto;
  font-size: 24px;
  font-weight: bold;
  color: #ef4b27;
}

.TripsList {
  max-width: 1300px;
  margin: 40px auto 20px auto;
}

.Page404 {
  display: flex;
  justify-content: center;
}

.Page404 img {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}
