.NavWrapper {
  width: 100vw;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

nav {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

nav img {
  width: 220px;
}

.UserProfile > * {
  margin-left: 20px;
}

.UserProfile .btn {
  font-weight: bold;
  border-radius: 4px;
  width: 100px;
  line-height: 30px;
}

.signup {
  border: none;
  background-color: #ef4b27;
  color: #fff;
}

.login {
  background-color: transparent;
  border: 2px solid #ef4b27;
  color: #ef4b27;
}
