.TripCard {
  display: flex;
  align-items: center;
  margin: 30px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  height: 100%;
}

.TripCard .trip-img {
  width: 30%;
}

.TripCard img {
  height: 230px;
  width: 100%;
  object-fit: cover;
}

.TripCard .info {
  padding: 20px;
  width: 50%;
}

.TripCard .title {
  color: #ef4b27;
  font-size: 20px;
  margin-bottom: 10px;
}

.TripCard .desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 25px;
}

.TripCard .extra-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 230px;
  text-align: center;
  border-left: 1px solid #888;
}

.TripCard .trip-cost {
  font-size: 28px;
  margin-bottom: 6px;
  letter-spacing: 1.5px;
}

.TripCard .trip-cost-comment {
  font-size: 14px;
  margin-bottom: 6px;
}

.TripCard .details-link {
  width: fit-content;
  margin-top: 6px;
  background-color: #e95939;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
}
